# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual Environment
venv/
.env/
.env.local
.venv/
env/
ENV/
.venv/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# If you are using poetry
poetry.lock

# If you are using pipenv
Pipfile.lock

# If you are using .env files
.env

# If your project includes static files
/static/

# If you use Jupyter notebooks
.ipynb_checkpoints

# If you use mypy
.mypy_cache/

# If you use Pytest
.pytest_cache/

# IDEs and editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
